*{
margin: 0;
padding: 0;
}

.main{
width: 100%;
background-image:url(../img/223237.jpg);
height: 100vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.first{
width: 1200px;
height: 75px;
margin: auto;
}
.icon{
width: 200px;
float: left;
height: 70px;

}
.logo{
color:magenta;
font-size: 35px;
font-family: arial;
padding-left: 20px;
float: left;
padding-top: 10px;

}
.menu{
width: 400px;
height: 70px;
float: left;


}
ul{
    float: left;
display: flex;
align-items: center;
background-color: rgba(223, 223, 68, 0.623);
margin-top: 5px;
margin-left: 10%;

}
ul li{
list-style: none;
margin-left: 50px;
margin: 20px;;
font-size: 20px;

}
ul li a{
text-decoration: none;
font-weight: bold;
transition: 1s;

}
ul li a:hover{

color:chartreuse;


}
.content{
width: 1200px;
height: auto;
margin: auto;
position: relative;



}
.content h1{
color: chartreuse;
font-size: 50px;
padding-left: 20px;
margin-top: 9px;
letter-spacing: 2px;


}
.content span{
color: #ff7200;
font-size: 60px;


}
.content .paragraph{
padding-left: 20px;
padding-bottom: 20px;
font-family: Arial;
letter-spacing: 1.5px;
line-height: 30px;
color:rgb(54, 4, 14);
font: bold;
font-size: 18px;
}
.join{
width: 120px;
height: 40px;
background: #ff7200;
border: none;
margin-left: 20px;
margin-bottom: 10px;
font-size: 18px;
cursor: pointer;
transition: 1.5s;
border-radius: 12px;
}
.join a{
text-decoration: none;
color: blueviolet;
transition: 1.5s;

}
.join:hover{
color: aqua;
background-color: aliceblue;

}

.container{
height: 350px;
width: 240px;
background:rgba(168, 26, 168, 0.61);
position: absolute;
margin-left: 940px;
margin-top: -320px;
padding: 15px 25px;
border-radius: 10px;
}
.container h2{
width: 200px;
font-family: sans-serif;
text-align: center;
font-size: 25px;
border-radius: 8px;
padding: 5px;
margin-left :10px;
background-color:rgba(255, 255, 255, 0.459);
color:rgba(0, 0, 255, 0.89);
}
.input{
width: 220px;
height: 32px;
background: transparent;
border-bottom: 1px solid wheat;
border-top: none;
border-left: none;
border-right: none;
font-size: 14px;
margin-top: 14px;


}
::placeholder{
    margin-left: 5px;
    color: black;

}
.submit{
height: 40px;
width: 240px;
border: none;
background: #ff7200;
margin-top: 25px;
font-size: 18px;
border-radius: 10px;
cursor: pointer;
color: aliceblue;

}
.submit:hover{
background: #fff;
color: #ff7200;

}
.have{
font-size: 20px;
text-align: center;
padding-top: 15px;


}
.container .have a{
text-decoration: none;
color: #ff7200;
font-size: 20px;

}
.log{
text-align: center;
padding: 15px;
font-size: 20px;

}
.icon a{
text-decoration: none;
color: gold;

}
.icon i{
font-size: 25px;
margin:0 0 0 10px;
transition: .5s;


}
.icon i:hover{

    color: aqua;
    background-color: #ff7200;
}
.search{
float: left;
margin-left: 950px;;
width: 350px;
margin-top: -45px;

}
#src{
width: 180px;
height: 35px;
background: rgba(169, 169, 169, 0.575);
border: 1px solid orange;
color:black;
font-size: 15px;

}
.buon{
width: 80px;
height: 36px;
background: coral;
font-size: 15px;
border: none;


}
.buon:focus{
outline: none;

}
#src:focus{
outline: none;


}